//-------------------------------- 
// Primary style
//--------------------------------
@include font-face("Proxima Nova Light", "../fonts/Proxima Nova Light", $file-formats: eot svg woff ttf);
@include font-face("Proxima Nova Regular", "../fonts/Proxima Nova Regular", $file-formats: eot svg woff ttf);
@include font-face("Proxima Nova Regular Italic", "../fonts/Proxima Nova Regular Italic", $file-formats: eot svg woff ttf);
@include font-face("Proxima Nova Semibold Italic", "../fonts/Proxima Nova Semibold Italic", $file-formats: eot svg woff ttf);
@include font-face("Proxima Nova Bold Italic", "../fonts/Proxima Nova Bold Italic", $file-formats: eot svg woff ttf);

// Variables
$font-light: "Proxima Nova Light";
$font-regular: "Proxima Nova Regular";
$font-regularItalic: "Proxima Nova Regular Italic";
$font-semiboldItalic: "Proxima Nova Semibold Italic";
$font-boldItalic: "Proxima Nova Bold Italic";


// Formats
.bold {
  &.italic { font-family: $font-boldItalic; }
}

// Copy
.copy {
  font-family: $font-regular;
  color: $color-grayLight;
  font-size: 16px;
  line-height: 25px;
}

// Heading
.heading {
  font-family: $font-light;
  @include antialias;
  &.h1 {
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 29px;
    color: $color-gray;
  }
  &.h2 {
    font-size: 35px;
  }
}

// Blockquote
.bq {
  color: $color-grayLight;
  font-size: 16px;
  line-height: 25px;
  padding-left: 20px;
  margin: 25px 0 64px 0;
  &.italic {
    font-family: $font-regularItalic;
  }
  &.blue {
    border-left: 6px solid $color-blue;
  }
}