// Stylesheet: Variables

// COLORS
// http://0to255.com/
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;
$offWhite:          #e4e4e4;

$tan:               #eceee5;

$green:             #7dd667;

$blue:              #2c3e50;
$light-blue:        #a1b1bc;

$link-color:        $blue;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

// typography
$text-color:        $light-blue;