// Color
$color-gray: #545454;
$color-grayLight: #7e7e7e;
$color-blue: #4eacdd;
$color-blueDark: #474e5d;
$color-green: #14af8f;
$color-pink: #ea4c89;
$color-teal: #6dc5ea;

// fonts 

$primary-font: sans-serif;